<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>MyPantry</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body style="font-family: helvetica; background-color: white;" >  
    <nav id='header-bar' style="padding: 30px;background-color: #FF8C00; width: 100%; height: 120px;display: flex; align-items: center;" ng-controller="myController" >
        <div style="color: white; background-color: none; font-size: 2em;">My Pantry</div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
        </ul>
        <span class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#995400" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Logged In as <%= username %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabled" href="#">My Recipes</a></li>
              <li role="separator" class="dropdown-divider"></li>
              <li><a class="dropdown-item" id="editLink" href="/user">Edit User</a></li>
              <li><a class="dropdown-item" id="logoutLink" href="/logout">Logout</a></li>
            </ul>
        </span>
    </nav>
    <div id='main-body' ng-controller="myController">
      <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">Add a recipe</p>
        <form method="POST" action="/user/updateUserRecipes">
            <label style="margin-right: 44px;">Title:</label>
            <input type="text" id="title" name="title" ng-model="title" ><br>
            <!--<label>Ingredients:</label>-->
            <!--<textarea cols="40" rows="5" id="ingredients" name="ingredients" ng-model="recipe.ingredients"></textarea><br>-->
            <!--<label style="margin-right: 10px;">Directions:</label>-->
            <!--<textarea cols="40" rows="5"id="directions" name="directions" ng-model="recipe.directions"></textarea><br> -->
               
            <input type="submit" id="save" value="Save">
        </form>
    </div>
      <h3 style="margin-top: 30px;">My recipes</h3>
     <div>
       <div ng-repeat="x in recipes">{{x.title}}</div>
     </div>
    <hr>
    <div id="indexMsg" class="text-center">
        <%= msg %>
    </div>
    <hr>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>